 <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

<script>
var firebaseConfig = {
	    apiKey: "apiKey",
	    authDomain: "app-98c7e.firebaseapp.com",
	    databaseURL: "https://app-98c7e.firebaseio.com",
	    projectId: "app-98c7e",
	    storageBucket: "app-98c7e.appspot.com",
	    messagingSenderId: "367480877313",
	    appId: "1:367480877313:web:abd6f7095fd0a6b3c72b00",
	    measurementId: "G-QNCSTKD6MY"
	  };
 

  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
  


</body>
</html>